.DS_Store
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
*.tfvars
backend.hcl
!terraform/foundation/terraform.tfvars.example
!terraform/automation/terraform.tfvars.example
!terraform/foundation/backend.hcl.example
