.DS_Store
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
terraform-state-export.tfstate
state-version.json
*/state-version.json
info.txt
*/info.txt
crash.log
*.tfvars
*.jpeg
*.jpg
*.png
bridge/tfe-github-bridge/.build/
