project_id = "your-gcp-project-id"
github_repository = "UttamGiri/GCP-Bootstrap"
github_branch     = "main"

# Optional overrides
# bootstrap_service_account_name         = "bs-tfe-sa"
# bootstrap_service_account_display_name = "Bootstrap Terraform Enterprise Service Account"
# workload_identity_pool_id              = "github-pool"
# workload_identity_provider_id          = "github-provider"
# bootstrap_roles = [
#   "roles/viewer",
#   "roles/storage.admin",
#   "roles/resourcemanager.projectIamAdmin",
#   "roles/iam.serviceAccountAdmin",
#   "roles/iam.serviceAccountTokenCreator"
# ]
